#footContainer{
    width: 100%;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    

}
#footBox{
    width: 80%;
    height: 500px;
    /* border: 1px solid; */
    display: flex;
    
    margin: auto;
    margin-top: 40px;
    position: relative;
    


}
#footBox>div{
    /* border: 1px solid; */
    width: 15%;
    height: 450px;
    margin: auto;
    margin-top: 0;

}
#footBox>div:nth-child(1){
    width: 25%;
}
#soc_logo{
    width: 95%;
    height: 50px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}
#soc_logo>div{
    width: 20%;
    height: 100%;
    margin: auto;
    
    
}
#soc_logo>div>img{
    width: 70%;
   
}
a{
    text-decoration: none;
    color: black;
}
p{
    margin: 10px;
    padding: 0px;
}
#copyrights{
    width: 100%;
    height: 150px;
    /* border: 1px solid; */
    background-color: rgb(238, 231, 231);
    margin-bottom: 0;
}
#copyrights>div{
    width: 90%;
    height: 50px;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    /* margin-top: 20px; */

}
#copyrights>div:nth-child(1)>div{
    width: auto;
    height: 70%;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    align-items: center;
    
    
}
#copyrights>div:nth-child(2)>div{
    width: auto;
    height: 70%;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 0px;
    
    
}

#footimg{
    position: absolute;
    top: 45%;
    left: 900px;
}
#footimg>img{
    width: 70%;
}
#info{
    position: absolute;
    top: 120px;
    left: 360px;
    
}
#info>img{
    width: 25%;
}
#footSub{
    padding: 5px 10px;

}